[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FDRsampsize"]
	path = FDRsampsize
	url = https://github.com/cran/FDRsampsize
[submodule "PROMISE"]
	path = PROMISE
	url = https://git.bioconductor.org/packages/PROMISE
